{{ define "import/additional/with_search_package" }}
   {{- if isGenType . }}
      {{- if isNodeInclude . }}
         "{{ searchImportPath }}"
      {{- end }}
   {{- end }}
{{ end }}

{{- define "model/fields/additional" -}}
   {{- if isNodeInclude . -}}
      // Meta is used by entx search to add metadata to the response.
      Meta *{{ searchImportName }}.EntityMeta `json:"meta,omitempty"`
   {{- end -}}
{{- end -}}

{{ define "model/additional" }}
   {{- if isNodeInclude . }}
      // Metadatas allow you to retrieve or edit metadatas
      func (e *{{ .Name }}) Metadatas() *{{ searchImportName }}.EntityMeta { 
         if e.Meta == nil {
            e.Meta = new({{ searchImportName }}.EntityMeta)
         }
         return e.Meta 
      }
   {{- end }}
{{ end }}

{{ define "dialect/sql/query/additional/*" }}
   {{ $builder := $.Scope.Builder }}

   {{- if isNodeInclude .Type -}}
      // AppendInterceptors allows query interceptors to be added dynamically. Used by entx search to add metadata to inclusions.
      func (q *{{ $builder }}) AppendInterceptors(inters ...Interceptor) *{{ $builder }} {
         q.inters = append(q.inters, inters...)
         return q
      }
   {{- end }}
{{ end }}
